* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(56, 56, 56);
}

#input {
  z-index: 999;
  position: relative;
}

.beer-cup {
  width: 100%;
  height: 100vh;

  .air {
    background-color: #e6e0c7;
    height: 20%;
    transform-origin: bottom center;
    transform: translateX(-40%) rotateZ(0deg);
    width: 500%;
  }

  .beer {
    background-color: #e7710d;
    height: 100%;
    transform-origin: top center;
    transform: translateX(-40%) rotateZ(0deg);
    width: 500%;
  }
}