* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(56, 56, 56);
}
img {
  width: 500px;
}

.asd {
  display: block;
  width: 100px;
  height: 100px;
  color: red;
}